*.log.*

production/wslib/pylib/__pycache__/schedrun.cpython-36.pyc
production/wslib/pylib/__pycache__/loggerManager.cpython-36.pyc
production/wslib/pylib/__pycache__/BQ_imageLib.cpython-36.pyc
production/wslib/pylib/__pycache__/BQ_downwardWelding.cpython-36.pyc
production/wslib/pylib/__pycache__/__init__.cpython-36.pyc
production/wslib/hwlib/__pycache__/GigE_Daheng.cpython-36.pyc
production/wslib/hwlib/__pycache__/__init__.cpython-36.pyc
production/wslib/clib/__pycache__/BQ_clib.cpython-36.pyc
production/wslib/clib/__pycache__/__init__.cpython-36.pyc
production/wslib/__pycache__/BQ_wsPos.cpython-36.pyc
production/wslib/__pycache__/BQ_CamMP.cpython-36.pyc
production/wslib/__pycache__/__init__.cpython-36.pyc
.DS_Store
